body{
  background-color: #b8bedb;
  font-family: Arial,sans-serif;
}

#header{
  display: flex;
  align-items: center;
  height: 50px;
}

#message{
  width: 65%;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #51587b;
}

#camera-selector-wrapper{
  width: 35%;
}

#camera-selector{
  display: block;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

#btn-wrapper{
    float:left;
    height: 400px;
    width: 34%;
    background-color:  #b8bedb;
    margin-left: 3%;
    padding-right: 3%;
}
#img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    height:400px;
    width:55%;
    border:solid 5px  #51587b;
    background-color:  white;
    margin-right: 3%;
    overflow: hidden;
}

#btn-list{
    height:400px;
    width:100%;
}

.btn-edge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  line-height: 30px;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: .4s;
}

.btn-edge:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px #b8bedb;
  border-bottom: solid 61px transparent;
  z-index: 1;
  transition: .4s;
}

.btn-edge:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 61px  #b8bedb;
  z-index: 1;
  transition: .4s;
}

.btn-edge:hover:before, .btn-edge:hover:after {
  border-left-width: 25px;
}

#bt1{
  background-color:rgb(187, 164, 64);
}

#character{
  height: 100%;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* coded by Yuma Ito */
